doctype html
head
  include includes/header.pug
  link(rel='stylesheet', href='./css/commands.css')

body
  include includes/navbar.pug

  .container(style='max-width:980px;')
    .jumbotron.text-center.bg-transparent
      h1.display-2 Commands
      hr
    section(id='fun commands')
      #subjumbotron.jumbotron.text-center.bg-transparent
        p.h1 Fun Commands
      .row
        .col-sm-5
          each commandName in funNames
            ul.list-group.my-1
              li.list-group-item.bg-transparent #{commandName}
        #commands.col-sm-7
          each commandDesc in funDescriptions
            ul.list-group.my-1
              li.list-group-item.bg-transparent #{commandDesc}

    section(id='Info commands')
      #subjumbotron.jumbotron.text-center.bg-transparent
        p.h1 Info Commands
      .row
        .col-sm-5
          each commandName in infoNames
            ul.list-group.my-1
              li.list-group-item.bg-transparent #{commandName}
        #commands.col-sm-7
          each commandDesc in infoDescriptions
            ul.list-group.my-1
              li.list-group-item.bg-transparent #{commandDesc}
    section(id='Mod commands')
      #subjumbotron.jumbotron.text-center.bg-transparent
        p.h1 Mod Commands
      .row
        .col-sm-5
          each commandName in modNames
            ul.list-group.my-1
              li.list-group-item.bg-transparent #{commandName}
        #commands.col-sm-7
          each commandDesc in modDescriptions
            ul.list-group.my-1
              li.list-group-item.bg-transparent #{commandDesc}
  
  include includes/footer.pug