doctype html
head
  include includes/header.pug
  link(rel='stylesheet', href='./css/commands.css')

body
  include includes/navbar.pug

  .container(style='max-width:980px;')
    .jumbotron.text-center.bg-transparent
      h1.display-2 Commands
      hr
    section(id='fun commands')
      #subjumbotron.jumbotron.text-center.bg-transparent
        p.h1 Fun Commands
      .row
        each command in funCommands
          button.btn.btn-dark(id='dropdownBut', type='button', data-bs-toggle='collapse', data-bs-target='#'+command[0], aria-expanded='false', aria-controls=command[0])
            p.text-left e #{command[0]} #{command[1]}
          .collapse(id=command[0])
            .card.card-body
              p(style='color:white') #{command[2]}
        

    section(id='info commands')
      #subjumbotron.jumbotron.text-center.bg-transparent
        p.h1 Info Commands
      .row
        each command in infoCommands
          button.btn.btn-dark(id='dropdownBut', type='button', data-bs-toggle='collapse', data-bs-target='#'+command[0], aria-expanded='false', aria-controls=command[0])
            p.text-left e #{command[0]} #{command[1]}
          .collapse(id=command[0])
            .card.card-body
              p(style='color:white') #{command[2]}

    section(id='mod commands')
      #subjumbotron.jumbotron.text-center.bg-transparent
        p.h1 Mod Commands
      .row
        each command in modCommands
          button.btn.btn-dark(id='dropdownBut', type='button', data-bs-toggle='collapse', data-bs-target='#'+command[0], aria-expanded='false', aria-controls=command[0])
            p.text-left e #{command[0]} #{command[1]}
          .collapse(id=command[0])
            .card.card-body
              p(style='color:white') #{command[2]}
  
  include includes/footer.pug