doctype html
head
  include includes/header.pug
  link(rel='stylesheet', href='./css/commands.css')

body
  include includes/navbar.pug

  .container(style='max-width:980px;')
    .jumbotron.text-center.bg-transparent
      h1.display-2 Commands
      hr
    section(id='fun commands')
      #subjumbotron.jumbotron.text-center.bg-transparent
        p.h1 Fun Commands
      .row
        each command in funCommands
          button.btn.btn-dark(id='dropdownBut', type='button', data-bs-toggle='collapse', data-bs-target='#'+command[0], aria-expanded='false', aria-controls=command[0])
            p.text-left(style='color:black') e #{command[0]} #{command[1]}
          .collapse(id=command[0])
            .card.card-body
              p(style='color:black') #{command[2]}
        

    section(id='info commands')
      #subjumbotron.jumbotron.text-center.bg-transparent
        p.h1 Info Commands
      .row
        each command in infoCommands
          button.btn.btn-dark(id='dropdownBut', type='button', data-bs-toggle='collapse', data-bs-target='#'+command[0], aria-expanded='false', aria-controls=command[0])
            p.text-left(style='color:black') e #{command[0]} #{command[1]}
          .collapse(id=command[0])
            .card.card-body
              p(style='color:black') #{command[2]}

    section(id='mod commands')
      #subjumbotron.jumbotron.text-center.bg-transparent
        p.h1 Mod Commands
      .row
        each command in modCommands
          button.btn.btn-dark(id='dropdownBut', type='button', data-bs-toggle='collapse', data-bs-target='#'+command[0], aria-expanded='false', aria-controls=command[0])
            p.text-left(style='color:black') e #{command[0]} #{command[1]}
          .collapse(id=command[0])
            .card.card-body
              p(style='color:black') #{command[2]}

    section(id='voice commands')
      #subjumbotron.jumbotron.text-center.bg-transparent
        p.h1 Voice Commands
      .row
        each command in voiceCommands
          button.btn.btn-dark(id='dropdownBut', type='button', data-bs-toggle='collapse', data-bs-target='#'+command[0], aria-expanded='false', aria-controls=command[0])
            p.text-left(style='color:black') e #{command[0]} #{command[1]}
          .collapse(id=command[0])
            .card.card-body
              p(style='color:black') #{command[2]}

    section(id='nsfw commands')
      .row
        button.btn.bg-transparent(style = 'margin:0;padding:0',type='button', data-bs-toggle='collapse', data-bs-target='#collapseNSFW', aria-expanded='false', aria-controls='collapseNSFW')
          p.h2(style='background-color:#2c363f;margin:0;padding:5px') NSFW commands
      
      #collapseNSFW.collapse
        .row
          each command in nsfwCommands
            button.btn(id='dropdownBut', type='button', data-bs-toggle='collapse', data-bs-target='#'+command[0], aria-expanded='false', aria-controls=command[0])
              p.text-left(style='color:black') e #{command[0]} #{command[1]}
            .collapse(id=command[0])
              .card.card-body
                p(style='color:black') #{command[2]}
  
  include includes/footer.pug